---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tandoor

resources:
  - namespace.yaml
  - rbac.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - certificate.yaml
  - ingressroute.yaml
  - sealed-secrets/postgres-credentials-sealed.yaml
  - sealed-secrets/tandoor-secret-key-sealed.yaml
